<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/public/style.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <%- include ('nav.html') %>

        <h4>회원가입페이지</h4>
        <div class="container">
                <div class="mb-3">
                    <label class="form-label">이름</label>
                    <input class="form-control" id="userName" type="text" name="userName" />
                </div>
                <div class="mb-3">
                    <label class="form-label">아이디</label>
                    <input class="form-control" id="userId" type="text" name="userId" />
                </div>
                <div class="mb-3">
                    <label class="form-label">비밀번호</label>
                    <input class="form-control" id="userPw" type="password" name="userPw" />
                </div>
                <div class="mb-3">
                    <label class="form-label">닉네임</label>
                    <input class="form-control" id="userNickname" type="text" name="userNickname" />
                </div>
                <div class="mb-3">
                    <label class="form-label">이메일</label>
                    <input class="form-control" id="userEmail" placeholder="email@email.com" type="text" name="userEmail" />
                </div>
                <button class="btn btn-outline-primary btn-sm" id="signUpButton" >Submit</button>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>
            $('#signUpButton').click(function() {
                var 이름 = $('#userName').val();
                var 아이디 = $('#userId').val();
                var 비밀번호 = $('#userPw').val();
                var 닉네임 = $('#userNickname').val();
                var 이메일 = $('#userEmail').val();

                if (이름 == '') {
                    alert('이름은 필수 항목이므로 공백이 있으면 안됩니다.')
                }
                else if (아이디 == '') {
                    alert('아이디는 필수 항목이므로 공백이 있으면 안됩니다.')
                }  else if (/^[a-zA-Z0-9]{3,10}$/.test(아이디) == false) {
                    alert('아이디는 대소문자와 숫자이며 3~10글자로 설정해야합니다.')
                } else if (비밀번호 == '') {
                    alert('비밀번호는 필수 항목이므로 공백이 있으면 안됩니다.')
                } else if (/^[a-zA-Z0-9]{6,12}$/.test(비밀번호) == false) {
                    alert('비밀번호는 대소문자와 숫자(6~12글자)로 설정해야합니다.')
                } else if (닉네임 == '') {
                    alert('닉네임은 필수 항목이므로 공백이 있으면 안됩니다.')
                } else if (이메일 == '') {
                    alert('이메일은 필수 항목이므로 공백이 있으면 안됩니다.')
                } else if(/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/.test(이메일) == false){
                    alert('이메일의 형식이 잘못되었습니다.')
                }else{
                    $.ajax({
                        url : "/signUp",
                        type :  "POST",
                        data : {
                            이름 : 이름,
                            아이디 : 아이디,
                            비밀번호 : 비밀번호,
                            닉네임 : 닉네임,
                            이메일  : 이메일
                        },
                        success : function(data) {
                            console.log('success데이터='+data)
                            if (data==="중복ID"){
                                alert("아이디가 중복입니다.")
                            } else if(data ==="중복Nick"){
                                alert("닉네임이 중복입니다.")
                            } else if(data ==="중복Email"){
                                alert("이메일이 중복입니다.")
                            } else if(data ==="성공"){
                                alert("정상적으로 회원가입 되었습니다.")
                                $(location).attr("href","/login")
                            }
                        }
                    })
                }
            })
        </script>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>

</html>